/*基础公共样式：清楚默认样式+设置通用样式*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none; /* 清除默认列表样式 */
    margin: 0; /* 清除默认外边距 */
    padding: 0; /* 清除默认内边距 */
}
li{
    list-style: none;
}

body{
    font: 14px / 1.5"Microsoft YaHei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333;
}

a{
    color: #333;
    text-decoration: none;/*取消下划线*/
}
